.row {
    display: flex;
}

.col {
    flex: 4;
    padding: 20px;
    margin: 10px;
    background-color: wheat;
}

.col-2 {
    flex: 8;
    padding: 20px;
    margin: 10px;
    background-color: wheat;
}

.col-3 {
    flex: 13;
    padding: 20px;
    margin: 10px;
    background-color: wheat;
}